/* Fuente global */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1{
	text-align:center;
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #2e7d32; 
	color: white;

}

header:hover{
	background-color: #69940F; 
}

header h1 {
    margin: 10px;
	font-size: 24px;
	color: #FFFFFF;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
	display:flex;
	justify-content: center;
}

.icono-absoluto{
	width: 150px;
	height: auto;
	display: block;
}

.contenedor-relativo{
    position: relative;
	display:flex;
	align-items: center; 
	justify-content: space-between;
	padding: 10px;
	background-color: #FFFFFF;
    border: 0px solid #ccc;
    margin-bottom: 20px;
	
}

.icono-relativo{
	width: 40px;
	height: 56px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #ABFF00; 
    padding: 5px;
    border-radius: 5px;
}


main {
    display: flex;
    justify-content: space-around;
    margin-top: 100px; 
    padding: 20px;
}

.columna {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    width: 30%;
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

.columna img{
	width: 100%;
	height: 200px;
	border-radius: 5px;
}


.columna:hover {
    transform: translateY(-10px); 
}

.btn {
    background-color: #2e7d32;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #1b5e20;
}


#icono-absoluto {
    position: absolute;
    bottom: 10px;
    right: 10px;
	margin-top: 20px;
    background-color: #B2F757;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: white;
    margin-top: 20px;
}


@media (max-width: 1080px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .columna {
        width: 90%;
        margin-bottom: 20px;
    }

    .imagen {
        width: 100%; 
        height: auto;
    }

    p {
        font-size: 0.9rem; 
    }
	
	.columna img{
		width: 100%;
		height: auto;
	}
}
